<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>589471304926-bqvsqu78gitoeg43nocs02o0p5brcfd9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.589471304926-bqvsqu78gitoeg43nocs02o0p5brcfd9</string>
	<key>API_KEY</key>
	<string>AIzaSyBzZmYwI1-AM88sGho-y2xWu8Lg6q4Am7A</string>
	<key>GCM_SENDER_ID</key>
	<string>589471304926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.todo.app.Todo-Assigment2</string>
	<key>PROJECT_ID</key>
	<string>whattodo-366ac</string>
	<key>STORAGE_BUCKET</key>
	<string>whattodo-366ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:589471304926:ios:12b318b5c498e4b5</string>
	<key>DATABASE_URL</key>
	<string>https://whattodo-366ac.firebaseio.com</string>
</dict>
</plist>